@import './variables';
@import '~bootstrap/scss/bootstrap';


@font-face {
  font-family: "Barlow Black";
  src: url("/fonts/Barlow-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Light";
  src: url("/fonts/Barlow-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root,
html,
body {
  background: white;
  font-size: 14px;
  color: black;
  height: 100%;
}

html {
  position: relative;
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.logo-part {
  text-align: center;
  margin-bottom: 15px;
  img {
    width: 110px;
  }
}

.app-content {
  height: 100%;
  position: relative;
  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
      background-image: url(/static/media/company-logo.d3afbf43.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0.1;
      height: 760px;
      width: 100%;
    } 
  }
}

.connection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .input-group {
    margin-bottom: 15px;
  }
}

a:hover {
  text-decoration: none;
}

.review-table {
  th,
  tr {
    width: 20%;
  }

  td:last-child,
  .star-ratings {
    white-space: nowrap;
  }
}

.pagination {
  margin: auto;
  li {
    background-color: #bdbdbd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
      padding: 5px 10px;
      display: inline-block;
      outline: none;
    }
  }

  li + li {
    margin-left: 5px;
  }

  li.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  li.active {
    background-color: #616161;
    border: 1px solid #757575;
    box-shadow: saturation($color: #757575);
  }
}

.w-10 {
  width: 10%;
}
.w-5 {
  width: 5%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}

th {
    cursor: pointer;
}

.table thead th {
  background-color: #544495;
  color: white;
}

content-center {
    display: flex;
    justify-content: center;
}

table {
    font-family: 'barlow';
    td {
        font-size: 16px;
    }
    th {
        font-size: 17px;
    }
}

.break-word {
    word-break: break-all;
}

.v-middle {
    vertical-align: middle !important;
}

.btn {
  background-color: white !important;
  border: 2px solid #312975 !important;
  margin: 0px 3px !important;
  color: #312975 !important;
  &:hover {
    background-color: #312975 !important;
    color: white !important;
  }
}

.flex-item-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0px;
  }
}

.header-title {
  img {
    margin-right: 10px;
  }
  p {
    color: #8C8C8C;
    font-size: 17px;
    font-weight: 600;
  }
}

.pull-right.btn-add.special {
  margin-bottom: 15px !important;
}

.mt10 {
  margin-bottom: 15px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-item {
  display: flex;
  align-items: center;
  img.avatar {
    width: 30px;
  }
}

.bg-dark-purple {
    background-color: #312975 !important;
}
.bg-light-purple {
    background-color: #594FD1 !important;
}
.bg-orange {
    background-color: #EE734B !important;
}
.bg-yellow {
    background-color: #FAB437 !important;
}
.bg-light-red {
    background-color: #D24B5A !important;
}
.bg-cream {
    background-color: #F3ECE1 !important;
}

.c-dark-purple {
    color: #312975 !important;
}
.c-light-purple {
    color: #594FD1 !important;
}
.c-orange {
    color: #EE734B !important;
}
.c-yello {
    color: #FAB437 !important;
}
.c-light-red {
    color: #D24B5A !important;
}
.c-cream {
    color: #F3ECE1 !important;
}

.btn-secondary {
    //@extend .bg-light-purple;
}
.btn-danger {
    //@extend .bg-light-red;
}

.btn-add, .btn-export {
  background: white !important;
  border: 2px solid #544495 !important;
  color: #544495;
  border-radius: 3px;

  &:hover {
    background: #544495 !important;
    color: white;
  }
}

.bg-light {
  box-shadow: 3px 4px 5px #00000029;
  background: #FFFFFF !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #FFFFFF;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #F6F4FC;
}

.barlow-black-text {
  font-family: 'Barlow Black', sans-serif;
}

.barlow-light-text {
  font-family: 'Barlow Light', sans-serif;
}

.stakeholder-name {
  text-align: center;
}

.card {
  box-shadow: 3px 4px 5px #00000029;
  h3 {
    margin: 0px;
  }
}

.card-header, .card-footer {
  background: #544495;
  color: white;
}

.action-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.diagramBody {
  position: relative;
  .logo {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.card-body {
  .form-group {
    margin: 20px 0px;
  }
  .input-group-prepend {
    .input-group-text {
      height: 40px;
      width: 40px;
      background: #544495;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 22px;
      }
    }  
  }
  .input-group {
    input {
      height: 40px;
    }
  }
  .auth-btn {
    .btn {
      width: 200px;
    }
  }  
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.link-group a {
  color: #544495;
  font-weight: bold;
}

.flex-item-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img.quiz {
  width: 20px;
}

img.file-img {
  width: 30px;
}

.flow-item {
  margin-right: 25px;
  img.square {
    width: 20px;
    margin-right: 10px;
  }
  p {
    font-size: 16px;
    font-weight: bold;
  }
  p.data {
    color: #544495;
  }
  p.funding {
    color: #FFA500;
  }
  p.influence {
    color: #CB0202;
  }
  img.arrow {
    width: 30px;
    margin-left: 10px;
  }
}

// ToolTip Style
.popover-header {
  background-color: #544495;
  color: white;
  border: none;
  border-radius: 0px;
  &::before {
    border: none !important;
  }
}
.bs-popover-bottom > .arrow::after {
  border-bottom-color: #544495;
}
.popover {
  background-color: #ebeef3;
  border: none;
  border-radius: 0px;
}
.popover-body {
  border: none;
}
.user-main {
  position: relative;
}
