@import './variables';
@import '~bootstrap/scss/bootstrap';

#root,
html,
body {
  background: white;
  font-size: 14px;
  color: black;
  height: 100%;
}

html {
  position: relative;
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
  }
}

.app-content {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.review-table {
  th,
  tr {
    width: 20%;
  }

  td:last-child,
  .star-ratings {
    white-space: nowrap;
  }
}

.pagination {
  margin: auto;
  li {
    background-color: #bdbdbd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
      padding: 5px 10px;
      display: inline-block;
      outline: none;
    }
  }

  li + li {
    margin-left: 5px;
  }

  li.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  li.active {
    background-color: #616161;
    border: 1px solid #757575;
    box-shadow: saturation($color: #757575);
  }
}

.w-10 {
  width: 10%;
}
.w-5 {
  width: 5%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}

th {
    cursor: pointer;
}

content-center {
    display: flex;
    justify-content: center;
}

table {
    font-family: 'barlow';
    td {
        font-size: 16px;
    }
    th {
        font-size: 17px;
    }
}

.break-word {
    word-break: break-all;
}

.v-middle {
    vertical-align: middle !important;
}

.bg-dark-purple {
    background-color: #312975 !important;
}
.bg-light-purple {
    background-color: #594FD1 !important;
}
.bg-orange {
    background-color: #EE734B !important;
}
.bg-yellow {
    background-color: #FAB437 !important;
}
.bg-light-red {
    background-color: #D24B5A !important;
}
.bg-cream {
    background-color: #F3ECE1 !important;
}

.c-dark-purple {
    color: #312975 !important;
}
.c-light-purple {
    color: #594FD1 !important;
}
.c-orange {
    color: #EE734B !important;
}
.c-yello {
    color: #FAB437 !important;
}
.c-light-red {
    color: #D24B5A !important;
}
.c-cream {
    color: #F3ECE1 !important;
}

.btn-secondary {
    @extend .bg-light-purple;
}
.btn-danger {
    @extend .bg-light-red;
}