@import './variables';
@import '~bootstrap/scss/bootstrap';


@font-face {
  font-family: "Barlow Black";
  src: url("/fonts/Barlow-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Light";
  src: url("/fonts/Barlow-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root,
html,
body {
  background: white;
  font-size: 14px;
  color: black;
  height: 100%;
}

html {
  position: relative;
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
  }
}

.app-content {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.review-table {
  th,
  tr {
    width: 20%;
  }

  td:last-child,
  .star-ratings {
    white-space: nowrap;
  }
}

.pagination {
  margin: auto;
  li {
    background-color: #bdbdbd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
      padding: 5px 10px;
      display: inline-block;
      outline: none;
    }
  }

  li + li {
    margin-left: 5px;
  }

  li.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  li.active {
    background-color: #616161;
    border: 1px solid #757575;
    box-shadow: saturation($color: #757575);
  }
}

.w-10 {
  width: 10%;
}
.w-5 {
  width: 5%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}

th {
    cursor: pointer;
}

content-center {
    display: flex;
    justify-content: center;
}

table {
    font-family: 'barlow';
    td {
        font-size: 16px;
    }
    th {
        font-size: 17px;
    }
}

.break-word {
    word-break: break-all;
}

.v-middle {
    vertical-align: middle !important;
}

.bg-dark-purple {
    background-color: #312975 !important;
}
.bg-light-purple {
    background-color: #594FD1 !important;
}
.bg-orange {
    background-color: #EE734B !important;
}
.bg-yellow {
    background-color: #FAB437 !important;
}
.bg-light-red {
    background-color: #D24B5A !important;
}
.bg-cream {
    background-color: #F3ECE1 !important;
}

.c-dark-purple {
    color: #312975 !important;
}
.c-light-purple {
    color: #594FD1 !important;
}
.c-orange {
    color: #EE734B !important;
}
.c-yello {
    color: #FAB437 !important;
}
.c-light-red {
    color: #D24B5A !important;
}
.c-cream {
    color: #F3ECE1 !important;
}

.btn-secondary {
    @extend .bg-light-purple;
}
.btn-danger {
    @extend .bg-light-red;
}

.btn-add {
  background: #FAB437 !important;
  border-color:#FAB437 !important;
  color: black;

  &:hover {
    background: #f1a726 !important;
    border-color:#f1a726 !important;
    color: black;
  }
}

.btn-export {
  background: #8FC2FF !important;
  border-color: #8FC2FF !important;

  &:hover {
    background: #6eacf8 !important;
    border-color:#6eacf8 !important;
  }
}

.bg-light {
  background: #F3ECE1 !important;
  box-shadow: 3px 3px #888888;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #b8b0a3;
}

.barlow-black-text {
  font-family: 'Barlow Black', sans-serif;
}

.barlow-light-text {
  font-family: 'Barlow Light', sans-serif;
}

.stakeholder-name {
  text-align: center;
}

.card-header, .card-footer {
  background: #F3ECE1;
}

.action-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.diagramBody {
  position: relative;
  .logo {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

